{{ $about := .Site.GetPage "about" }}
{{ $title := $about.Params.title | default "About Us" }}

<!-- About Start -->

    <div class="container home-about">
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <figure class="home-about-photo">
                    <img class="img-fluid w-100" src="{{ "img/business/warehouse.jpg" | relURL }}" alt="Shelves of wholesale goods and stacked cartons in a warehouse" width="600" height="400" loading="lazy">
                    <figcaption>Illustrative warehouse photo</figcaption>
                </figure>
                <div class="bg-primary text-dark text-center p-4">
                    <h3 class="m-0">New Jersey Distribution &amp; Logistics</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <p class="text-primary text-uppercase font-weight-bold">{{ $title }}</p>
                <h2 class="mb-4">Your New Jersey Small Business Partner</h2>
                <p>{{ $about.Params.summary }}</p>
                <a class="btn btn-primary py-2 px-4" href="{{ $about.RelPermalink }}">Our Story</a>
                <!-- <div class="d-flex align-items-center pt-2">
                        <button type="button" class="btn-play" data-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                            <span></span>
                        </button>0
                        <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- Video Modal -->
    <!-- <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                     16:9 aspect ratio 
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- About End -->