<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="{{ "/" | relURL }}" class="navbar-brand ml-lg-3">
            <img class="brand-logo" src="{{ "img/Hk-WholesaleLogo.jpeg" | relURL }}?v=2" alt="" width="48" height="52">
            <span class="brand-copy">
                <span class="brand-name">{{ .Site.Title }}</span>
                <span class="brand-tagline">{{ .Site.Params.tagline }}</span>
            </span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{ partial "nav.html" . }}
    </nav>
</div>
<!-- Navbar End -->