<nav class="mobile-tab-bar" aria-label="Primary navigation">
    <a class="mobile-tab" data-mobile-tab="home" href="{{ "/" | relURL }}">
        <svg aria-hidden="true" viewBox="0 0 24 24" focusable="false">
            <path d="M3 10.8 12 3l9 7.8v9.7a.5.5 0 0 1-.5.5h-6v-6.2h-5V21h-6a.5.5 0 0 1-.5-.5z" />
        </svg>
        <span>Home</span>
    </a>
    <a class="mobile-tab" data-mobile-tab="products" href="{{ "services/" | relURL }}#product-categories">
        <svg aria-hidden="true" viewBox="0 0 24 24" focusable="false">
            <path d="M4 5.5A2.5 2.5 0 0 1 6.5 3h11A2.5 2.5 0 0 1 20 5.5v13a2.5 2.5 0 0 1-2.5 2.5h-11A2.5 2.5 0 0 1 4 18.5zm3 .5v2h10V6zm0 5v2h10v-2zm0 5v2h6v-2z" />
        </svg>
        <span>Products</span>
    </a>
    <a class="mobile-tab" data-mobile-tab="logistics" href="{{ "services/" | relURL }}#logistics-services">
        <svg aria-hidden="true" viewBox="0 0 24 24" focusable="false">
            <path d="M3 5h11v11H3zm11 4h4.2l2.8 3.4V16h-7zM7 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4m11 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
        </svg>
        <span>Logistics</span>
    </a>
    <a class="mobile-tab" data-mobile-tab="contact" href="{{ "contact/" | relURL }}">
        <svg aria-hidden="true" viewBox="0 0 24 24" focusable="false">
            <path d="M6.6 2.8a1.5 1.5 0 0 1 1.6-.3l3 1.3a1.5 1.5 0 0 1 .9 1.5l-.3 2.6a1.5 1.5 0 0 1-.8 1.2l-1.5.8a14.2 14.2 0 0 0 5.2 5.2l.8-1.5a1.5 1.5 0 0 1 1.2-.8l2.6-.3a1.5 1.5 0 0 1 1.5.9l1.3 3a1.5 1.5 0 0 1-.3 1.6l-1.8 1.8a2.7 2.7 0 0 1-2.7.7A21.2 21.2 0 0 1 3.9 6.9a2.7 2.7 0 0 1 .7-2.7z" />
        </svg>
        <span>Contact</span>
    </a>
</nav>
