<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ "lib/easing/easing.min.js"  | relURL }}"></script>
<script src="{{ "lib/waypoints/waypoints.min.js"  | relURL }}"></script>
<script src="{{ "lib/counterup/counterup.min.js"  | relURL }}"></script>
<script src="{{ "lib/owlcarousel/owl.carousel.min.js"  | relURL }}"></script>

<!-- Contact Javascript File -->
<script src="{{ "mail/jqBootstrapValidation.min.js" | relURL }}"></script>
<script src="{{ "mail/contact.js" | relURL }}"></script>

<!-- Main JS File -->
<script src="{{ "js/main.js" | relURL }}"></script>

<!-- LeadConnector Chat Widget -->
<script src="https://widgets.leadconnectorhq.com/loader.js" data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js" data-widget-id="6ab539c6fad6c0284b6b5a69" data-source="WEB_USER"></script>
