{{ $services := .Site.GetPage "services" }}
{{ $content := $services.Content | safeHTML }}
{{ $title := $services.Params.title | default "Our Product & Services" }}
{{ $subtitle := $services.Params.subtitle | default "Innovation and Dedication" }}
{{ $mission := $services.Params.mission | default "To deliver exceptional solutions that empower our clients." }}


<!-- Services Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="pb-2">
            <p class="text-primary text-uppercase font-weight-bold">{{ $title }}</p>
            {{ $content }}
        </div>

    </div>
</div>
<!-- Services End -->